@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Fredoka+One&family=Londrina+Solid:wght@900&family=Roboto:wght@300;400;500&family=Rowdies:wght@700&family=Titan+One&family=Tourney:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&display=swap');
/* font-family: 'Aladin', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Londrina Solid', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rowdies', cursive;
font-family: 'Titan One', cursive;
font-family: 'Tourney', cursive; */

:root {
    --main-color: #06ad46;
    --sec-color: #046d2c;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*--------------------------
         navbar css 
--------------------------
*/
.d-flex button {
    font-size: 1.2rem;
    transition: all .5s ease-in-out;
}
.d-flex button:hover {
    color: var(--main-color)
}
.d-flex button i {
    padding-top: .5rem;
}
.nav-item .nav-link {
    font-size: 1rem;
    color: black !important;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.nav-item .nav-link:hover {
    color: var(--main-color) !important;

}
.navbar-light .navbar-toggler {
    border:none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.logo {
    margin: 0 auto;
    color: var(--main-color);
    font-weight: bolder;
    font-family: 'Titan One', cursive;
}
/*--------------------------
         container css 
--------------------------
*/
.my-container {
    width: 100%;
    /* background: url("./img/b.jpg") no-repeat; */
    background-size: cover;
    height: 100vh;

}
.my-container .inner {
    text-align: center;
    padding: 1rem 0rem;
    color: #666;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
.my-container .inner a {
    margin: 0rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all .5s ease-in-out;
}
.my-container .inner a:hover {
    color: var(--sec-color) !important;
    border-bottom: 2px solid var(--main-color);
    cursor: pointer !important;
    padding-bottom: .2rem;
}
.my-container .heading {
    padding: 3rem 20rem 2rem 20rem;
    text-align: center;
}
.my-container .heading h1 {
    font-size: 2.5rem;
    font-weight: 200;
    font-family: "Roboto";
}
.my-container .heading h6 {
    color: #666;
    padding-top: 2rem;
}
.my-container .my-inn {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.my-container .my-inn .card {
    box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.363);
    padding: .6rem;
    border-radius: 0px !important;
}
.my-container .my-inn .card .card-body {
    width: 25rem;
}
.my-container .my-inn .card .card-body .card-title {
    font-size: 2.5rem;
    font-family: "Roboto";
    color: var(--sec-color);
    font-weight: 100;
}
/*------------------------
    feature css
--------------------------*/
.my-container .inner-feature {
    display: flex;
    flex-direction: row;
    padding: 3rem 1rem 1rem 1rem;
    gap: 4rem;
    justify-content: center;
}
.my-container .inner-feature .recommended {
    border-left: 1px solid rgb(179, 179, 179);
}
.my-container .inner-feature h5 {
    padding-bottom: 1rem;
}
.my-container .inner-feature .feature a {
    font-size: 2rem;
    color: #000;
    text-decoration: none;
}
.my-container .feature a:hover {
    color: var(--sec-color);
    text-decoration: underline;
}
.my-container .inner-feature .feature .img-con {
    object-fit: cover;
    width: 40rem;
    margin-bottom: 2rem;
    height: 25rem;
}
.my-container .inner-feature .feature .img-con img {
    margin-bottom: 2rem;
    width: 100%;
}
.my-container .inner-feature .feature .img-con h5 {
    margin: 1rem 0rem;
    font-weight: lighter;
    font-family: "Roboto";
}
.my-container .inner-feature .feature .img-con .auth-name a {
    font-size: 1rem !important;
    color: #666;
}
/*--------------------------
      RECOMMENDED  css
---------------------------*/
.my-container .inner-feature .recommended {
    padding-left: 4rem;
}
.my-container .inner-rec .card {
    border: 0px;
    margin: 2rem 0rem;
}
.my-container .inner-rec .card .card-body{
    padding: 0rem 1rem
}
.inner-rec .my-col{
    width: 33% !important;  
   }
.rec-img {
    width: 100%;
    height: 8rem;
    object-fit: cover;
    overflow: hidden;
}
.recommended .inner-rec .card-body:first-child a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.recommended .inner-rec .card-body:first-child a:hover {
    color: var(--main-color);
}
.recommended .inner-rec .card-body:first-child p {
    font-weight: bolder;
    color: var(--main-color);
}
.recommended .inner-rec .card-body .user-action {
    padding: 1rem 0rem 0rem 0rem;
}
.recommended .inner-rec .user-action a {
    border-radius: 50%;
    border: 1px solid #666;
    padding: .3rem .5rem;
    transition: all .5s ease-in-out;
}
.page-link {
    border: 0px;
}

@media (max-width:1024px) {
    .my-container .heading {
        padding: 3rem 10rem 2rem 10rem;
        text-align: center;
    }
    .my-container .my-inn .card .card-body {
        width: 20rem;
    }
    .my-container .inner-rec .card .card-body {
        padding: 0rem 0.5rem;
    }
    .my-container .inner-rec .card {
        border: 0px;
        margin: 3rem 0rem;
    }
    .my-container .inner-feature .feature .img-con {
        width: 30rem;
    }
    .recommended .inner-rec .card-body:first-child a {
        font-size: 1rem;
    }
    .my-container .inner-feature {
        gap: 2rem;
        padding: 3rem 3rem 1rem 3rem;
    }
    .my-container .inner-feature .recommended {
        padding-left: 2rem;
    }
    .rec-img {
        height: 8rem;
    }
    .fund{
        padding: 0.5rem 0rem !important;
    }
    .inner-rec .my-col {
        width: 40% !important;
    }
    .col-md-8 {
        flex: 0 0 auto;
        width: 66.666667%;
    }
    .row {
        flex-wrap: nowrap;
    }
}

@media (max-width:800px) {
    .my-container .inner a {
        margin: 0rem 0.5rem;
    }
    .my-container .heading {
        padding: 3rem 5rem 2rem 5rem;
        text-align: center;
    }
    .my-container .my-inn .card .card-body {
        width: 15rem;
    }
    .my-container .inner-feature {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .my-container .inner-feature .recommended {
        border: 0px;
        padding-top: 9rem;
    }
    .col-md-8 {
        width: 70.666667%;
    }
}
@media (max-width:600px) {
    .fund{
        padding: 0.1rem 0rem !important;
    }
    .col-md-8 {
        width: 63.666667%;
    }
    .my-container .inner {
        padding: 0.5rem 0rem;
    }
    .my-container .inner a {
        line-height: 2rem;
    }
    .my-container .my-inn .card .card-body {
        width: 10rem;
        padding: .5rem;
    }
    .my-container .my-inn .card .card-body .card-title {
        font-size: 1.5rem;
    }
    .my-container .heading {
        padding: 2rem 2rem 1rem 2rem;
    }
    .my-container .heading h1 {
        font-size: 1.8rem;
    }
    .my-container .inner-feature {
        gap: 2rem;
        padding: 3rem 1rem 1rem 2rem;
    }
}
@media (max-width:450px) {
    .navbar{
        padding: .3rem 0rem;
    }
    .my-container .heading {
        padding: 1rem 1rem 0.51rem 1rem;
    }
    .my-container .heading h6 {
        padding-top: 1rem;
    }
    .my-container .heading h1 {
        font-size: 1.3rem;
    }
    .my-container .inner a {
        font-size: .8rem;
        line-height: 1rem;
    }
    .my-container .inner-feature .feature a {
        font-size: 1.5rem;
        
    }
    .my-container .inner-feature .feature .img-con {
        width: 20rem;
    }
    .my-container .my-inn .card .card-body .card-title {
        font-size: 1rem;
    }
    .my-container .my-inn .card .card-body .card-text {
        font-size: .6rem;
    }
    .my-container .my-inn .card .card-body {
        width: 6rem;
        padding: 0.2rem 0rem;
    }
    .my-container .inner-feature {
        gap: 1rem;
        padding: 2rem 1rem 1rem 1rem;
    }
    .my-container .inner-feature .recommended {
        padding-top: 1rem;
        padding-left: 0rem;
    }
    .recommended .inner-rec .card-body .user-action {
        padding: 0.5rem 0rem 0rem 0rem;
    }
    .recommended .inner-rec .user-action a {
        border: none;
    }
    .my-container .inner-feature h5 {
        padding-bottom: 0rem;
    }
    .my-container .inner-rec .card {
        margin: 2rem 0rem;
    }
    
    
    
}
